.div1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 2%;

    h2{
        display: inline;
        font-weight: bold;
        font-size: 19px;
    }
    input{
            width: 15%;
            background-color: #d8e7ec;
            border-color: #dcdcdc;
        }
        
}

.div3{
    text-align: center;
    margin-bottom: 35px;
    h3{
            position: absolute;
            left: 8%;
            top: 48%;
            font-size: 18px;

        }
}