main.main{
        margin-top: 1%;
        margin-left: 10%;
}
textarea.body {
    background-color: #dfeef3;
    /* margin-right: 8%; */
    /* margin-top: 7%; */
    margin: 2% 0% 0% 53%;
}
 label{
     color: #000000;
 }
 form{
     margin-left: 13%;
 }

 div.object-key-val{
    margin: 3% 0px 0px 5%;
}

div.pretty-json-container.object-container{
    overflow: scroll;
    height: 500px;
    /* border: 1px solid; */
    width: 45%;
    margin: -12% 0% 0% 6%;
}